{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to TechConnect</h1>
            <p class="lead">A platform to showcase your tech projects and get feedback.</p>
            <hr class="my-4">
            <p>Start uploading your projects and share them with the community.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'project_upload' %}" role="button">Upload Project</a>
        </div>
    </div>
{% endblock %}
